@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* styles.css */
.options-enter {
  opacity: 0;
  max-height: 0;
}

.options-enter-active {
  opacity: 1;
  max-height: 100px; /* Ajusta el valor según tus necesidades */
  transition: opacity 300ms, max-height 300ms;
}

.options-exit {
  opacity: 1;
  max-height: 100px; /* Ajusta el valor según tus necesidades */
}

.options-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
}
.transform-clickIconSelect {
  transform: translateZ(0px) scale3d(0.83, 0.83, 1);
}

.rbc-btn-group button,
.rbc-btn-group button:focus {
  background-color: #0070f0;
  color: white !important;
}

.rbc-btn-group button {
  padding: 13px;
  border-radius: 10px;
  border: none;
}


.rbc-btn-group button:hover {
  background-color: blue !important;
}

.rbc-active {
  background-color: blue !important;
}

/* Esto cambiará el fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

/* Esto cambiará el color del pulgar (la parte móvil) de la barra de desplazamiento a un color gris neutral */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080; 
}